parameters:
  entities: [%appDir%/LinkBundle/Models]

services:
  - \Flame\CMS\LinkBundle\Models\LinkFacade
  - \Flame\CMS\LinkBundle\Models\LinkManager

factories:
  linkForm:
    create: \Flame\CMS\LinkBundle\Forms\LinkForm(%default%)
    implement: \Flame\CMS\LinkBundle\Forms\ILinkFormFactory
    parameters: [array default = []]